* {
    box-sizing: border-box;
    margin: 0px;
}

.map {
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}

.bg {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    left: 0px;
}

.grid {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.player {
    /* transition: 1s; */
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: red;
    left: 0px;
    top: 0px;
    z-index: 3;
}

.btn {
    transition: 1s;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
    left: 100px;
    top: 100px;
}

.grass {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
}

.rock {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
}

.bar {
    position: absolute;
    width: 10px;
    height: 200px;
    background-color: blue;
    left: 1050px;
    top: 50px;
}

.stonebar {
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: gray;
    left: 1100px;
    top: 50px;
}